{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block log %}
    <hr />
    <h4 class="text-center">LOG DATA</h4>
    <p class="text-center"><i>{{query}}</i></p>
{% endblock %}

{% block content %}
    <h1 class="text-center">User Churn Risk</h1>
        <ul class="list-group">
            {% for userId, prediction in classification_result %}
                {% if prediction == 1 %}
                    <li class="list-group-item list-group-item-danger text-center">{{userId}}</li>
                {% else %}
                    <li class="list-group-item list-group-item-success text-center">{{userId}}</li>
                {% endif %}
            {% endfor %}

        </div>
    </div>

{% endblock %}
